.title-article {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.title-article img {
  height: 17px;
  margin-right: 20px;
}

.img-article img {
  width: 100%;
}

.text-article {
  padding: 40px;
  background: #fff;
  margin: 40px 0 20px;
}
/*# sourceMappingURL=article.css.map */