* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.bgr-custom {
  background-color: #044863;
  max-height: 120px;
  padding: 10px;
}

.mylogo {
  width: 140px;
}

.dowloadapp {
  width: 130px;
}

.bars-menu {
  display: none;
}

.bars-menu i {
  font-size: 20px;
  color: #edeff0;
}

.relative {
  position: relative;
}

.custom-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.navbar-light .navbar-toggler {
  color: #fff;
  background: none;
  border: none;
}

.navbar-light .navbar-toggler i {
  font-size: 20px;
}

.left-sidebar {
  background: #2a2f33;
  position: fixed;
  top: 77px;
  left: 0;
  bottom: 0;
  width: 17vw;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-sidebar li {
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-sidebar li:hover {
  background: #fb474a;
  cursor: pointer;
}

.left-sidebar .menu-item {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 20px;
}

.wcontent {
  margin-top: 77px;
  background: #edeff0;
}

.content-sidebar {
  background: #edeff0;
  padding: 80px 80px 0;
}

.news {
  margin-bottom: 60px;
  height: 32vw;
}

.article-big {
  height: 100%;
}

.article-big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bgr-img-big {
  background-image: url(../img/homeimg/img1.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.article-small {
  height: 50%;
  padding-bottom: 15px;
}

.img-sm1 {
  background-image: url(../img/homeimg/img2.png);
}

.img-sm2 {
  background-image: url(../img/homeimg/img3.jpg);
}

.img-sm2 span {
  font-size: 12px;
}

.pd2 {
  padding-top: 15px;
  padding-bottom: 0;
}

.p15 {
  padding: 0 20px;
}

.title-end {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(28%, rgba(0, 0, 0, 0.19)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.19) 28%, rgba(0, 0, 0, 0.7));
}

.title-end span {
  font-weight: bolder;
  color: #fff;
  font-size: 15px;
}

.bgr-img-small {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.item-view {
  background: #0fb3f3;
  position: absolute;
  right: -10px;
  top: 0;
  color: #fff;
  padding: 6px 20px;
  font-weight: 700;
  z-index: 1;
}

.item-view :after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  content: "";
  position: absolute;
}

.row-items [class*="col-"] {
  padding: 0 20px;
}

.main-title {
  font-size: 30px;
  border-bottom: 2px solid red;
}

.news-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 40px;
}

.news-item:hover {
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
}

.news-item-img {
  width: 100%;
  height: auto;
}

.news-item-text {
  background: #fff;
  padding: 20px;
}

.news-item-text h3 {
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.news-item-text p {
  font-size: 12px;
  font-weight: 400;
}

.news-item-footer {
  background: #fff;
  padding: 0px;
  width: 100%;
}

.news-item-footer img {
  height: 17px;
}

.news-item-footer .text-right {
  text-align: right;
}

.text-color {
  text-decoration: none;
  color: #777;
}

.text-color:hover {
  color: #777;
}

.item-view-news {
  background: #0fb3f3;
  position: absolute;
  -webkit-transform: translate(10px, 50%);
          transform: translate(10px, 50%);
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 6px 15px;
  font-weight: 700;
  z-index: 1;
}

.item-view-news :after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  content: "";
  position: absolute;
}

.pr20 {
  padding-right: 20px;
  padding-left: 10px;
}

.col-right-sidebar {
  padding: 0 25px;
}

.news-right {
  background: #fff;
  padding: 20px;
}

.news-right li {
  list-style-type: none;
  margin: 20px 0 40px;
}

.news-right li .title-end {
  padding-bottom: 5px;
}

.news-right li .title-end span {
  font-size: 13px;
  font-weight: normal;
}

.news-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #fff;
  padding: 25px;
}

.footer p {
  text-align: center;
}

.footer a {
  color: black;
}

@media (max-width: 767.98px) {
  .content-sidebar {
    padding: 0;
  }
  .repon-btn {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    padding: 10px 0;
  }
  .repon-btn button {
    padding: 0;
  }
  .repon-logo {
    padding-left: 0;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  .repon-app {
    padding-right: 0;
  }
  .repon-app img {
    width: 100%;
  }
  .news {
    height: auto;
  }
  .news .repon-mr {
    margin-bottom: 20px;
  }
  .left-sidebar {
    visibility: hidden;
    left: -100%;
    top: 119px;
    width: 70vw;
  }
  .left-sidebar li {
    padding-right: 100px;
  }
  .article-big {
    min-height: 370px;
    width: 100%;
  }
  .article-big .bgr-img-big {
    background-size: cover;
  }
  .article-small {
    min-height: 370px;
    width: 100%;
  }
  .article-small .bgr-img-small {
    background-size: cover;
    margin-bottom: 20px;
  }
  .bars-menu {
    display: block;
    text-align: right;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wcontent {
    margin-top: 100px;
  }
  .repon-btn {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    padding: 10px 0;
  }
  .repon-btn button {
    padding: 0;
  }
  .repon-logo {
    padding-left: 0;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  .left-sidebar {
    visibility: hidden;
    left: -100%;
    top: 118px;
    width: 70vw;
  }
  .left-sidebar li {
    padding-right: 100px;
  }
  .bars-menu {
    display: block;
    text-align: right;
  }
}

.open {
  visibility: visible;
  left: 0;
}
/*# sourceMappingURL=home.css.map */