@import '../bootstrap-5.0.2/scss/_functions';
@import '../bootstrap-5.0.2/scss/_variables';
@import '../bootstrap-5.0.2/scss/mixins/_breakpoints';
* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.bgr-custom {
    background-color: #044863;
    max-height: 120px;
    padding: 10px;
}

.mylogo {
    width: 140px;
}
.dowloadapp {
    width: 130px;
}
.bars-menu {
    display: none;
    i {
        font-size: 20px;
        color: #edeff0;
    }
}                    //nút bấm menu

.relative {
    position: relative;
}
.custom-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(50%);
}
.navbar-light {
    .navbar-toggler {
        color: #fff;
        background: none;
        border:none;
        i {
            font-size: 20px;
        } 
    }
}
.left-sidebar {
    background: #2a2f33;
    position: fixed;
    top:77px;
    left: 0;
    bottom: 0;
    
    width:17vw;
    z-index: 999;
    transition: all 0.3s;
    li {
        padding:0;
        list-style-type: none;
        border-bottom: 1px solid hsla(0,0%,100%,.03);
        transition: all 0.3s;
        &:hover {
            background: #fb474a;
            cursor: pointer;
        }
    }
    .menu-item {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 20px ;
    }
}
//css menu



.wcontent {
    margin-top: 77px;
    background: #edeff0;
}
.content-sidebar {
    background: #edeff0;
    padding: 80px 80px 0;
}

.news {
    margin-bottom: 60px;
    height: 32vw;
}
.article-big {
    height: 100%;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // position: absolute;
    }
}
.bgr-img-big {
    background-image: url(../img/homeimg/img1.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.article-small {
    height: 50%;
    padding-bottom: 15px;

}
.img-sm1 {
    background-image: url(../img/homeimg/img2.png);
}
.img-sm2 {
    background-image: url(../img/homeimg/img3.jpg);
    span {
        font-size: 12px;
    }
}
.pd2 {
    padding-top: 15px ;
    padding-bottom: 0;
}
.p15{
    padding: 0 20px;
}
.title-end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:10px;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.19) 28%,rgba(0,0,0,.7));
    span {
        font-weight: bolder;
        color: #fff;
        font-size: 15px;
    }
}
.bgr-img-small {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}
.item-view {
    background: rgb(15, 179, 243);
    position: absolute;
    right: -10px;
    top: 0;
    color: #fff;
    padding: 6px 20px;
    font-weight: 700;
    z-index: 1;
    :after {
        border-right: 10px solid transparent;
        border-top: 7px solid rgba(0,0,0,.5);
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        content: "";
        position: absolute;
    }
}
.row-items {
    & [class*="col-"] {
        padding: 0 20px
    }
}
// .col-main-content {
//     // padding: 0 20px;
// }
.main-title {
    font-size: 30px;
    border-bottom: 2px solid red;
}

.news-item {
    transition: all 0.3s;
    margin-bottom: 40px;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,1%);
    }
    &-img {
        width: 100%;
        height: auto;
    }
    &-text {
        background: #fff;
        padding:20px;
        h3 {
            font-size: 12px;
            font-weight: 700;
            color:black;
        }
        p {
            font-size: 12px;
            font-weight: 400;
        }

    }
    &-footer {
        background: #fff;
        padding:0px;
        width: 100%;
        img {
            height: 17px;
        }
        .text-right {
            text-align: right;
        }
    }
}
.text-color {
    text-decoration: none;
    color: #777;
    &:hover {
        color: #777;
    }
}
.item-view-news {
    background: rgb(15, 179, 243);
    position: absolute;
    transform: translate(10px,50%);
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 6px 15px;
    font-weight: 700;
    z-index: 1;
    :after {
        border-right: 10px solid transparent;
        border-top: 7px solid rgba(0,0,0,.5);
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        content: "";
        position: absolute;
    }
}
.pr20 {
    padding-right: 20px;
    padding-left: 10px;
}
.col-right-sidebar {
    padding:0 25px;
}
.news-right {
    background: #fff;
    padding: 20px;
    li {
        list-style-type: none;
        margin: 20px 0 40px;
        .title-end {
            padding-bottom: 5px;
            span {
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.footer {
    background: #fff;
    padding: 25px;
    p {
        text-align: center;
    }
    a {
        color: black;
    }
}


//css reponsive mobile
@include media-breakpoint-down(md){
    .content-sidebar {
        padding: 0;
    }
    .repon-btn {
        justify-content: start !important;
        padding: 10px 0;
        button {
            padding: 0;
        }
    }
    .repon-logo {
        padding-left: 0;
        justify-content: start !important;
    }
    .repon-app {
        padding-right: 0;
        img {
            width: 100%;
        }
    }
    .news {
        height: auto;
        .repon-mr {
            margin-bottom: 20px;
        }
    }
    .left-sidebar {
        visibility: hidden;
        left: -100%;
        top: 119px;
        width: 70vw;
        li {
            padding-right: 100px;
        }
    }
    .article-big {
        min-height: 370px;
        width: 100%;
       
        .bgr-img-big {
            background-size:cover;
        }
    }
    .article-small {
        min-height: 370px;
        width: 100%;
       
        .bgr-img-small {
            background-size: cover;
            margin-bottom: 20px;
        }
    }
    .bars-menu {
        display: block;
        text-align: right;
    } 
}

//reponsive ipad
@include media-breakpoint-only(md){
    .wcontent {
        margin-top: 100px;
    }
    .repon-btn {
        justify-content: start !important;
        padding: 10px 0;
        button {
            padding: 0;
        }
    }
    .repon-logo {
        padding-left: 0;
        justify-content: start !important;
    }
    .left-sidebar {
        visibility: hidden;
        left: -100%;
        top: 118px;
        width: 70vw;
        li {
            padding-right: 100px;
        }
    }
    .bars-menu {
        display: block;
        text-align: right;
    } 
}
.open {
    visibility: visible;
    left: 0;
}